---
---
//blue: #1e90ff
@import "{{ site.theme }}";
page-header {
   color: #FFFFFF;
   text-align: center;
   background-color: #4a148c;
   background-image: url(main_img.jpg), linear-gradient(120deg, #c2185b, #4a148c);
    //background-image: linear-gradient(to bottom right, red, yellow);
   background-size: cover;
}
//.main-content {
  //h1,
 // h2,
  //h3,
body {
  font-family: Nunito, sans-serif;
  color: #000000;
}
h2, h3 {
  font-weight: normal;
  color: #4a148c;
  text-align: center;
}

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
  }
  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

font: {
  family: Helvetica, sans-serif;
  size: 18px;
  weight: bold;
}

text: {
  align: center;
  transform: lowercase;
  overflow: hidden;
}

body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.center {
  text-align: center;
  color: red;
}

body {
  background-image: url("bgdesert.jpg");
}

.p1 {
  font-family: "Times New Roman", Times, serif;
}

.p2 {
  font-family: Arial, Helvetica, sans-serif;
}

.p3 {
  font-family: "Lucida Console", "Courier New", monospace;
}

html {
  background: url(img_man.jpg) no-repeat center fixed;
  background-size: cover;
}

#grad {
  background-image: linear-gradient(to right, red , yellow);
}
